*{
    box-sizing: border-box;
}
body{
    /* background-color: rgba(0, 0, 0, 0.9); */
    overflow: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin: 0 auto;
   
}

input{
    margin-left: 0.5rem;
    margin-right: 3rem;
}
header{
    height: 300px;
    transition: all 500ms cubic-bezier(.18,.88,.25,1.22);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:white;
    width:100%;
    padding: 3rem;
    background: 	#5bc0de;
}
header *{
    margin: 0.5rem 0.5rem;
}
header label, header input{
    width:100%;
}

.slider-menu{
    display:none;
    z-index:2;
    transition: transform, 300ms;
    transform: translate(0);
    transform-origin: right;
    padding:2rem;
    color: white;
    right:0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background:	#428bca;
}
.slider-menu__content{
    font-size: 1.2rem;
    padding:0;
    list-style: none;
}
.slider-menu__element{
    padding: 1rem;
    border-radius: 2px;
}
.slider-menu__element:hover{
    cursor: pointer;
    background: #f9f9f9;
    color:#428bca;
}
.backdrop{
    position: fixed;
    height: 100vh;
    width:100vw;
    background: rgba(0, 0, 0, 0.6);
    z-index:1;
}
.animated g{
    transition:transform, 100ms;
}

rect{
    transition: height, 300ms;
}
/* UTILITY */
.btn{
    /* margin: 0 1rem; */
    text-transform: capitalize;
    font-weight: 700;
    padding:0.5rem 1rem;
    width: 5rem;
    color:white;
    background:	#428bca;
    border: none;
    border-radius: 10px;
}
.btn:not(:disabled):hover{
    cursor: pointer;
    background:rgba(0, 0, 0, 0.6);
}
.btn:disabled{
    background:#6988A2;
}
.btn-select{
    width:8rem;
}

.hidden{
    transform: translateX(100%);
}
.removed{
    display: none;
}

@media(min-width: 700px){
    header{
        height: 150px;
    }
    header label, header input{
        width:auto;
    }
    .slider-menu{
        width: 30%;
    }
}
@media(min-width: 1200px){
    
    .slider-menu h2{
        
        font-size: 2.3rem;
    }
    .slider-menu__content{
        font-size: 2rem;
    }
    header{
        flex-direction: row;
    }
    
    
}
